p,h1{
  color:#FFD100
}
#sendBtn{
  background-color:#FFEE32;
  color:#000000;
  border:0px transparent;
}
#sendBtn:hover{
  background-color:#FFD100;
}
#linkInp:focus{
  border-color: rgba(255,209,0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255,209,0, 0.6);
  outline: 0 none;
}
#mainCont{
  height:90%;
}